.Banner{

}
#bannerName{
    font-size: 50px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight:300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#bannerText{
    padding-bottom: 60px;
    margin-bottom: 60px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
#bannerDescription{
    margin-bottom: 0;
    padding-bottom: 0;
}
#bannerSource{
    margin-bottom: 40px;
}
#bannerDiv{
    height: 1.5px;
    width: 100px;
    background-color: #fff;
    margin-bottom: 60px;
}